h1{text-align:center;
color:grey;}
p{font-size:16px;
text-align:left;
color:darkgreen}
h6{font-size:18px;
text-align:center;
color:brown}
ul{list-style-type:square;
text-align:center;
color:darkblue}
